1.	Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.
2.	Take input from the user and find the factorial of the number using a for loop.
3.	Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.
4.	Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)
5.	Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.
6.	Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.
7.	Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

Q1 Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [ ]:
list1 = [4, 8, 2, 10, 6]
max =0

for i in list1:
  if i >= max:
    max = i
  else:
    max= max
print ("Maximum number is: ",max)

Maximum number is:  10

Q2 Take input from the user and find the factorial of the number using a for loop.

In [1]:
num = int(input("Enter a number: "))
num1 = 1
for i in range(1,(num+1)):
  num1 *= i

print("Factiorial is: ",num1)

Enter a number: 5
Factiorial is:  120

Q3 Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [ ]:
list1 = ['apple', 'banana', 'cherry', 'date', 'fig']

for i,lis in enumerate(list1):
  print(i," = ",lis)

0  =  apple
1  =  banana
2  =  cherry
3  =  date
4  =  fig

Q4 Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)

In [ ]:
str1 = input("Enter a string: ")
cnt = 0

for char in str1:
  if char == char.upper():
    cnt +=1
print("Number of uppper case letter in string: ",cnt)

Enter a string: maAqHH
Number of uppper case letter in string:  3

Q5 Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [ ]:
list2 = [17, 25, 39, 42, 58, 71, 86, 93]
sum = 0

for i in list2:
  if i%2 ==0:
    sum += i
print("Sum of even numbers is: ",sum)

Sum of even numbers is:  186

Q6 Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [ ]:
list3 = [3, 6, 9, 12, 15]
product = 1

for i in list3:
  product *= i
print("Product of all the elements is: ",product)

Product of all the elements is:  29160

Q7 Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [ ]:
list4 = [2, 3, 5, 7, 11, 13, 17, 19]

for i in list4:
  if i == 7:
    print("Index of first occurance of 7: ",list4.index(i))

Index of first occurance of 7:  3